<div id="myLinks" class="links">
  <p class="well-hole">
    <%= mail_to "paulflower34@gmail.com", '<i class="fa fa-envelope fa-3x"></i>'.html_safe %>
    <%= link_to '<i class="fa fa-facebook-square fa-3x"></i>'.html_safe, "http://www.facebook.com/paul.flower.35", target: "blank" %>
    <%= link_to '<i class="fa fa-twitter-square fa-3x"></i>'.html_safe, "http://twitter.com/intent/follow?&screen_name=flowerpaul", target: "blank" %>
    <%= link_to '<i class="fa fa-linkedin-square fa-3x"></i>'.html_safe, "http://www.linkedin.com/pub/paul-flower/12/28/257", target: "blank" %>
  </p>
</div><!-- /.links -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "carousel_book2.png", alt: "" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>On bookshelves near you.</h1>
        </div> <!-- /.carousel-caption -->
      </div> <!-- /.container -->
    </div> <!-- /.item -->
    <div class="item">
      <%= image_tag "carousel_collage.png", alt: "" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>You could hire Paul.</h1>
        </div> <!-- /.carousel-caption -->
      </div> <!-- /.container -->
    </div> <!-- /.item -->
    <div class="item">
      <%= image_tag "carousel_dog.png", alt: "" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Paul's writing partner.</h1>
        </div> <!-- /.carousel-caption -->
      </div> <!-- /.container -->
    </div> <!-- /.item -->
  </div>
  <!-- The chevrons -->
  <a class="carousel-ctrl" href="#myCarousel" id="cctl_Left" data-slide="prev">
    &lsaquo;
  </a>
  <a class="carousel-ctrl" href="#myCarousel" id="cctl_Right" data-slide="next">
    &rsaquo;
  </a>
</div><!-- /.carousel -->
<div class='padded row-fluid'>
  <div class='span6' id="mainContent">
    <div class-"row-fluid">
      <ul class="nav nav-tabs" id="tabs">
        <li class="active">
          <%= link_to "Author", "#", class: "tab", id: "Author" %>
        </li>
        <li>
          <%= link_to "Writer", "#", class: "tab", id: "Writer" %>
        </li>
        <li>
          <%= link_to "Runner", "#", class: "tab", id: "Runner" %>
        </li>
        <li>
          <%= link_to "Portfolio", "#", class: "tab", id: "Portfolio" %>
        </li>
      </ul>
    </div>
    <br />
    <div class="row-fluid" id="hideable">
      <div id="Author" class="hideable">
        <p><strong>The novel about brain surgery</strong></p>
        <p><strong>that isn’t about brain surgery.</strong></p>
        <p>Paul Flower’s novel, “<%= link_to "The Redeeming Power of Brain Surgery", "http://scribe-publishing.com/the-redeeming-power-of-brain-surgery-by-paul-flower/", target: "blank" %>,” is the suspense-filled tale of a wealthy Chicagoan, his evil mom, working class twin, and the secret they share.</p>
        <p>Paul grew up in West Michigan’s beach-resort country, where wealthy tourists mingle with made-for-reality-TV locals––the ideal backdrop for this saga, from Scribe Publishing.</p>
        <p>Available from <%= link_to "scribe-publishing.com", "http://scribe-publishing.com/the-redeeming-power-of-brain-surgery-by-paul-flower/", target: "blank" %>, <%= link_to "amazon.com", "http://www.amazon.com/The-Redeeming-Power-Brain-Surgery/dp/0985956275", target: "blank" %>, <%= link_to "barnesandnoble.com", "http://www.barnesandnoble.com/w/the-redeeming-power-of-brain-surgery-paul-flower/1115659168?ean=9780985956271", target: "blank" %>, through <%= link_to "most bookstores", "https://www.google.com/search?q=the+redeeming+power+of+brain+surgery", target: "blank" %>, and as e-book on <%= link_to "iTunes", "https://itunes.apple.com/us/book/redeeming-power-brain-surgery/id709318419?mt=11", target: "blank" %>, <%= link_to "Kindle", "http://www.amazon.com/The-Redeeming-Power-Brain-Surgery-ebook/dp/B00DE4CQNS/ref=sr_1_cc_1?s=aps&ie=UTF8&qid=1392350026&sr=1-1-catcorr&keywords=redeeming+power+of+brain+surgery", target: "blank" %>, and <%= link_to "NOOK", "http://www.barnesandnoble.com/w/the-redeeming-power-of-brain-surgery-paul-flower/1115659168?ean=2940148444985", target: "blank" %>.</p>
      </div> <!-- ./Author -->
      <div id="Writer" class="hideable">
        <p><strong>His name is Paul.</strong></p>
        <p><strong>He writes.</strong></p>
        <p>Paul Flower is an author, advertising copywriter/creative director and a journalist.</p>
        <p>He has written and produced award-winning advertising for print, radio, television, outdoor, the Web––really, just about every medium––for business-to-consumer and business-to-business accounts.</p>
        <p>His news features have appeared in regional and national magazines. His first novel, “<%= link_to "The Redeeming Power of Brain Surgery", "http://scribe-publishing.com/the-redeeming-power-of-brain-surgery-by-paul-flower/" %>,” was published in June 2013 by Scribe Publishing.</p>
      </div> <!-- ./Writer -->
      <div id="Runner" class="hideable">
        <p><strong>The writer who runs. Slowly.</strong></p>
        <p>Paul Flower was a runner in high school, where he made up for being mediocre by also being somewhat of a goofball and pretty slow. At mid life, after discovering a writing career can lead to becoming a goofball who is soft and out of shape, he returned to running.</p>
        <p>His interest in the sport, in turn, led him into coaching his local middle school and high school teams. The runners on the teams were much faster than he ever was.</p>
      </div> <!-- ./Runner -->
      <div id="Portfolio" class="hideable">
        <p><strong>You wanna see what Paul can do?</strong></p>
        <p><strong>(Well, in terms of writing.)</strong></p>
        <p>Paul Flower has been writing professionally for more than 30 years. So there's some pretty good stuff in his portfolio. Consider yourself warned.</p>
        <br />
        <p><%= link_to "Paul's Portfolio", "http://www.coroflot.com/paulflower", target: "blank" %></p>
      </div> <!-- ./Portfolio -->
    </div> <!-- ./hideable -->
  </div> <!-- ./mainContent -->
  <div class='span6 rebelmouse'>
    <script type="text/javascript" class="rebelmouse-embed-script" src="https://www.rebelmouse.com/static/js-build/embed/embed.js?site=flowerpaul&height=400&flexible=0&scrollbar_theme=light-2"></script>
  </div> <!-- ./rebelmouse -->
</div>