<div id="myLinks" class="links">
  <div class="well-hole">
    <%= mail_to "paulflower34@gmail.com", '<i class="icon-envelope icon-3x"></i>'.html_safe %>
    <%= link_to '<i class="icon-facebook-sign icon-3x"></i>'.html_safe, "https://www.facebook.com/paul.flower.35" %>
    <%= link_to '<i class="icon-twitter-sign icon-3x"></i>'.html_safe, "https://twitter.com/intent/follow?&screen_name=flowerpaul" %>
    <%= link_to '<i class="icon-linkedin-sign icon-3x"></i>'.html_safe, "www.linkedin.com/pub/paul-flower/12/28/257" %>
  </div>
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "blue-dots.jpg", alt: "image1" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Paul Flower 1</h1>
        </div> <!-- /.carousel-caption -->
      </div> <!-- /.container -->
    </div> <!-- /.item -->
    <div class="item">
      <%= image_tag "dkblue-dots.jpg", alt: "image2" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Paul Flower 2</h1>
        </div> <!-- /.carousel-caption -->
      </div> <!-- /.container -->
    </div> <!-- /.item -->
    <div class="item">
      <%= image_tag "green-dots.jpg", alt: "image3" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Paul Flower 3</h1>
        </div> <!-- /.carousel-caption -->
      </div> <!-- /.container -->
    </div> <!-- /.item -->
  </div>
  <!-- The chevrons -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
</div><!-- /.links -->
<div class='padded row-fluid'>
  <div class='span9'>
    <p>Place holder</p>
  </div>
  <div class='span3 rebelmouse'>
    <script type="text/javascript" class="rebelmouse-embed-script" src="https://www.rebelmouse.com/static/js-build/embed/embed.js?site=chiperific&height=430&flexible=0&post_limit=8&embed_type=sidebar&scrollbar_theme=dark&theme=14"></script>
  </div>
</div>