<div id="myLinks" class="links">
  <p class="well-hole">
    <%= mail_to "paulflower34@gmail.com", '<i class="fa fa-envelope fa-3x"></i>'.html_safe %>
    <%= link_to '<i class="fa fa-facebook-square fa-3x"></i>'.html_safe, "http://www.facebook.com/paul.flower.35", target: "blank" %>
    <%= link_to '<i class="fa fa-twitter-square fa-3x"></i>'.html_safe, "http://twitter.com/intent/follow?&screen_name=flowerpaul", target: "blank" %>
    <%= link_to '<i class="fa fa-linkedin-square fa-3x"></i>'.html_safe, "http://www.linkedin.com/pub/paul-flower/12/28/257", target: "blank" %>
  </p>
</div><!-- /.links -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "banner_brainsurgery_sm.png", alt: "" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Paul wrote a book.</h1>
        </div> <!-- /.carousel-caption -->
      </div> <!-- /.container -->
    </div> <!-- /.item -->
    <div class="item">
      <%= image_tag "paul_snow_sm.png", alt: "" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>You could hire Paul.</h1>
        </div> <!-- /.carousel-caption -->
      </div> <!-- /.container -->
    </div> <!-- /.item -->
    <div class="item">
      <%= image_tag "paul_and_barney_sm.jpg", alt: "" %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Paul's writing partner.</h1>
        </div> <!-- /.carousel-caption -->
      </div> <!-- /.container -->
    </div> <!-- /.item -->
  </div>
  <!-- The chevrons -->
  <a class="carousel-ctrl" href="#myCarousel" id="cctl_Left" data-slide="prev">
    &lsaquo;
  </a>
  <a class="carousel-ctrl" href="#myCarousel" id="cctl_Right" data-slide="next">
    &rsaquo;
  </a>
</div><!-- /.carousel -->
<div class='padded row-fluid'>
  <div class='span9' id="mainContent">
    <div class-"row-fluid">
      <ul class="nav nav-tabs" id="tabs">
        <li class="active">
          <%= link_to "Author", "#", class: "tab", id: "Author" %>
        </li>
        <li>
          <%= link_to "Writer", "#", class: "tab", id: "Writer" %>
        </li>
        <li>
          <%= link_to "Runner", "#", class: "tab", id: "Runner" %>
        </li>
        <li>
          <%= link_to "Idiot", "#", class: "tab", id: "Idiot" %>
        </li>
      </ul>
    </div>
    <div class="row-fluid" id="hideable">
      <div id="Author" class="hideable">
        <p>Author content</p>
      </div> <!-- ./Author -->
      <div id="Writer" class="hideable">
        <p>Senior Copywriter/Creative Director content</p>
      </div> <!-- ./Writer -->
      <div id="Runner" class="hideable">
        <p>Runner content</p>
      </div> <!-- ./Runner -->
      <div id="Idiot" class="hideable">
        <p>Opinionated Idiot content</p>
      </div> <!-- ./Idiot -->
    </div> <!-- ./hideable -->
  </div> <!-- ./mainContent -->
  <div class='span3 rebelmouse'>
    <script type="text/javascript" class="rebelmouse-embed-script" src="https://www.rebelmouse.com/static/js-build/embed/embed.js?site=chiperific&height=430&flexible=0&post_limit=8&embed_type=sidebar&scrollbar_theme=dark&theme=14"></script>
  </div> <!-- ./rebelmouse -->
</div>