<!DOCTYPE html>
<html>
<head>
  <title>Paul Flower</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="https://platform.twitter.com/widgets.js"></script>
</head>
<body>

  <%= yield %>

<div class="row-fluid footer">
  <footer>
    <hr />
    <p>Site created by <%= link_to "Chiperific", "http://www.chiperific.com", target: "blank" %> &middot; 2013</p>
  </footer>
</div>
</body>
</html>
